.asx-quote{
	font-family:arial;
	font-weight: 600;
}
.ticker{
	font-size:30px;
	padding-right: 10px;
}
.change-red{
	color:red;
	font-size:20px;
}
.change-green{
	color:green;
	font-size:20px;
}
.change-image{
	margin-top: -8px;
	padding-right:5px;
}
.trade-time{
	padding-right: 10px;
	
}